{{top-nav}}

<div class="vote-container">
	<h1>Voting</h1>
	<button {{action 'toggleModal'}}>Advocate a restaurant</button>
	{{vote-table list=model}}

	{{#if showModal}}
		{{vote-modal showModal=showModal list=model}}
	{{/if}}

	{{!-- {{#each model as |restaurant|}}
	  <p>{{restaurant.name}} {{restaurant.votes}}</p>
	{{/each}} --}}
</div>
